@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/violetDark.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/mauveDark.css";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 20px;
  color: var(--violet12);
  background-color: var(--mauve5);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

/* reset */
input,
textarea,
button {
  all: unset;
  box-sizing: border-box;
}

.FormRoot {
  width: 100%;
  max-width: 300px;
  display: grid;
  row-gap: 10px;
}

.FormField {
  display: grid;
}

.FormLabel {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: var(--violet12);
}

.FormMessage {
  font-size: 13px;
  color: var(--violet12);
  opacity: 0.8;
}

.Input,
.Textarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  font-size: 15px;
  color: var(--mauve12);
  background-color: var(--mauve1);
  box-shadow: 0 0 0 1px var(--blackA9);
}
.Input:hover,
.Textarea:hover {
  box-shadow: 0 0 0 1px black;
}
.Input:focus,
.Textarea:focus {
  box-shadow: 0 0 0 2px black;
}
.Input::selection,
.Textarea::selection {
  background-color: var(--blackA9);
  color: white;
}

.Input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}

.Textarea {
  resize: none;
  padding: 10px;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 100%;

  background-color: var(--violet9);
  color: #fff;
  box-shadow: 0 2px 10px var(--blackA7);
}
.Button:hover {
  background-color: var(--violet10);
}
.Button:focus {
  box-shadow: 0 0 0 2px black;
}
.Button:disabled {
  background-color: var(--mauve10);
}

.FormTag {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  align-items: end;
}

.TagLabel {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.Tag {
  background-color: var(--violet11);
  color: var(--violet1);
  border-radius: 4px;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.TagDeleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PromptList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Prompt {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.Prompt:not(:last-child) {
  padding-bottom: 3px;
  border-bottom: 1px solid var(--mauve10);
}

.PromptHeader {
}
